.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Adicione margem inferior conforme necessário */
  }
  
  .form-control label {
    margin-bottom: 5px; /* Adicione margem inferior conforme necessário */
  }
  
  .form-control input,
  .form-control select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  