.horario-container {
    margin-top: 10px; /* Adicione a margem superior desejada */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
  
  .horario-input {
    display: block; /* Exibe o input em uma nova linha */
    margin-top: 10px; /* Adicione a margem superior desejada entre a label e o input */
    width: 100%; /* Ocupar toda a largura do container */
    margin-top: 5px; /* Adicione a margem superior desejada entre a label e o input */
  }
  

  