.success-message {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.highlighted {
  color: #6a7dfe; /* Cor destacada, você pode ajustar conforme necessário */
  font-weight: bold;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fdfdfd;
}

.wrap-login {
  width: 390px;
  background-color: #F06C00;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
  width: 100%;
}

.login-form-title {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
}

.login-form-title img {
  width: 90px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #fff;
  margin-bottom: 37px;
}

.wrap-input:hover .input {
  border-color: #6a7dfe; 
}

.wrap-input:hover .focus-input::before {
  width: 100%; 
}

.wrap-input:hover .focus-input::after {
  top: -15px; 
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #fff;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe; /* Laranja */
  background: -webkit-linear-gradient(to left, #FFA500, #808080, #1E90FF, #4169E1); /* Laranja, Cinza, Azul Claro e Azul Escuro */
  background: -o-linear-gradient(to left, #FFA500, #808080, #1E90FF, #4169E1);
  background: -moz-linear-gradient(to left, #FFA500, #808080, #1E90FF, #4169E1);
  background: linear-gradient(to left, #FFA500, #808080, #1E90FF, #4169E1);
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
}

.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.steps::after {
    content: "";
    width: 380px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 20px;
}

.step {
    text-align: center;
    background-color: #181818;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}

.step svg {
    font-size: 1.6rem;
    margin-bottom: .2rem;
}

.active {
    font-weight: bold;

}

.active > svg {
    fill: #0086e6;
}